* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    letter-spacing: 1.5px;
    background: var(--background);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}


.cons {
    width: 50vw;
    height: 5vh;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: rgb(13, 81, 141);
    border: solid 1px green;
    margin: auto;
    text-align: left;
}

header {
    width: 100vw;
    height: 15vh;
    background: #f3f3f3;
    position: fixed;
    top: 0;
    font-size: 14px;
}

#searcher {
    display: block;
    width: 40vw;
    height: 20px;
    position: fixed;
    top: 0;
    left: 70vw;
    font-size: 14px;
    color: rgb(13, 81, 141);
    border: solid 2px green;
    margin: auto;
    text-align: left;
}

#searcher label{
    display: inline-block;
    width: 15%;
    text-align: center;
}

#searcher select{
    display: inline-block;
    width: 10%;
    text-align: center;
}

#searcher #searcherSelectOperation{
    width: 10%;
}

#searcher input{
    display: inline-block;
    width: 65%;
}

#selectForm {
    display: block;
    width: 20vw;
    height: 20px;
    font-size: 14px;
    margin: auto;
    text-align: center;
}

#tableSection {
    height: 90vh;
    overflow:scroll;
    margin-top: 2vh;
}

table {
    width: 100%;
    height: 90vh;
    border: none;
    padding-top: -15vh;
    margin-bottom: 5vh;
    overflow:scroll
}

table thead {
    position: sticky;
    top: 0px;
}

table thead th {
    font-weight: bold;
    text-align: center;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 14px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

table tbody td {
    text-align: left;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-left: none;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-right: none;
}

table tbody tr:nth-child(even) {
    background: #f3f3f3;
}

#pagination-container{
    position: fixed;
    top: 90vh;
}