* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    letter-spacing: 1.5px;
    background: var(--background);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    padding: 5rem;
    cursor: crosshair;
}


.cons{
    width: 50vw;
    height: 25vh;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: rgb(13, 81, 141);
    border: solid 1px green;
    margin: auto;
    text-align: left;
  }

