* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    letter-spacing: 1.5px;
    background: var(--background);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    padding: 5rem;
    cursor: crosshair;
}


.cons{
    width: 50vw;
    height: 5vh;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: rgb(13, 81, 141);
    border: solid 1px green;
    margin: auto;
    text-align: left;
  }

  table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
table tbody td {
	text-align: left;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
table thead tr th:first-child, table tbody tr td:first-child {
	border-left: none;
}
table thead tr th:last-child, table tbody tr td:last-child {
	border-right: none;
}
table tbody tr:nth-child(even){
	background: #f3f3f3;
}
